// $back: rgb(41, 41, 9);
// $text: rgb(212, 166, 166);

// $white: #fff;
// $secondaryColor: #04E277;
// $footerBgc: #272727;

$width: 1820px;


$color-primary: #272727;
$color-secondary: #fff;
$color-main: #04E277;
$color-main-sub: #08d072;
$color-main-dark: #197c00;
$color-gray: #6f6f6f;
$color-gray-light: #cdcdcd;

$white: #fff;




