@import 'libs/normalize';
@import 'style/fonts';
@import 'style/var';
@import 'style/default';
@import 'style/bid';

.header {
  background-color: $white;
}
.container{
  width: $width;
  margin: 0 auto;
  padding: 5px;
}

.footer {
  background-color: $footerBgc;
}