.pagination {
 display: flex;
 flex-direction: row;
 margin: 0 auto;
 &__arrow img{
  padding-top: 20px;
 }
  & li {
    list-style-type: none;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    padding: 18px;
    align-items: baseline;
    
  }
  
}

.pagination__link-active {
      border: 2px solid $color-main;
      text-align: center;
      align-items: center;
      padding: 18px;
    }